extends layout
block content
  h1= title.rendered
  -
    function formatDate(str) { var date = new Date(str); var d = date.getDate(dateString); var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]; var m = monthNames[date.getMonth()]; var y = date.getFullYear(); return d+' '+m+' '+y; }
  div(class="byline")= formatDate(date)
  div(class="content")!=content.rendered
